* {
    box-sizing: border-box;
    padding: 0;
    margin: 1rem 8%;
    font-family: Georgia;
    scroll-behavior: smooth;
}

@keyframes CircleMove {
    0% {transform: translateX(0);}
    50%   {transform: translateX(-35%);}
    100% {transform: translateX(0);}
}

header {
    background-color: #f7e8d4;
}

header>img {
    width: 12rem;
}

#href {
    margin: 0;
}

nav {
    background-image: url(assets/bg.webp);
    background-size: 40rem;
    background-repeat: no-repeat;
    border: 0.2rem black solid;
    height: 20rem;
    display: flex;
    position: relative;
}

.rent {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    bottom: -1em;
    padding: 1px;
    font-size: 20px;

    text-decoration: none;
    color: black;

    transition: font-size 1s linear;
    transition: color 0.2s linear;
}

.rent:hover {
    font-size: 24px;
    color: #8f8f8f;
}

nav>h2 {
    margin: 5%;
    margin-left: 45%;
    font-weight: 500;
}

nav>span {
    background-color: #f7e8d4;
    content: "";
    bottom: 3rem;
    right: 0;
    width: 12rem;
    height: 12rem;
    position: absolute;
    z-index: -2;
    border-radius: 50%;
    animation: CircleMove 5s linear infinite;
}

main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 820px;
}

.select {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0;
    width: 510px;
    height: 270px;
    letter-spacing: 1px;
    line-height: 2em;
}

#status {
    color: #f7e8d4;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
    margin-left: 1.4em;
}

#image {
    display: block;
    width: 150px;
    height: 213px;
}

section {
    border: 0.2rem black solid; 
    border-radius: 36px;
    background-image: url(assets/books.webp);
    background-size: 16rem;
    background-repeat: no-repeat;
    background-position: right;
}

form {
    display: flex;
    justify-content: space-between;
    width: 84%;
}

form p {
    position: absolute;
    color: grey;
    width: 256px;
    transform: translateX(200px);
}

.container2 {
    display: flex;
    align-items: flex-end;
    transform: translate(-20px, 20px);
    margin: 0;
}

.container3 {
    display: flex;
    justify-content: right;
    right: 0;
    transform: translateX(6em);
}

input {
    margin: 0;
    margin-bottom: 25px;
    line-height: 120%;
}

input {
    border: none;
    outline: none;
    border-radius: 36px;
    padding-left: 6px;
    background-color: #f7e8d4;
}

#info-icon {
    margin: 0;
    width: 10px;
}

sup {
    margin: 0;
}

button {
    border: 2px solid #fff;
    color: #fff;
    background: rgb(0,0,0,0.2);
    transform: rotate(-5deg);
    width: 128px;
    height: 50px;
    border-radius: 6px;
    font-family: Verdana;
    font-weight: bold;
    transition: transform 0.7s;
}

button:hover {
    border-color: #e7bc83;
    color: #e7bc83;
    cursor: pointer;
    transform: rotate(5deg);
}

#dot1, #dot2 {
    content: "";
    height: 0.7em;
    width: 1em;
    border-radius: 50%;
    background-color: rgb(180, 180, 180);
    cursor: pointer;
}

#dot1 {
    background-color: black;
}

#return {
    display: none;
}

#rent {
    display: inline;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    color: #c5c5c5;
    margin-top: 3rem;
}

.href {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    opacity: 0.3;
    padding: 0;
}

@media only screen and (max-width: 500px){
    * {
        margin: 0;
    }

    html {
        margin: 0;
    }

    body {
        margin: 0;
    }

    nav {
        color: white;
        text-align: right;
        background-size: 40em;
    }

    .rent {
        position: absolute;
        transform: translateX(-10.5em);
        color: white;
    }

    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100rem;
        transform: translateX(2em);
    }

    .select {
        width: 255px;
        height: 255px;
        line-height: 1.3em;
    }

    #image {
        display: block;
        width: 112.5px;
        height: 159.75px;
        margin: 0;
    }

    #status {
        margin: 0;
    }

    nav>span {
        display: none;
    }

    .container2 {
        position: absolute;
        left: 6;
        transform: translate(0.5em, 6em);
    }

    .container3 {
        position: absolute;
        right: 0;
        transform: translateX(-35px);
    }

    form p {
        color: red;
        width: auto;
        padding: 3px;
        bottom: 0;
        transform: translateX(-20px);
        position: fixed;
    }
}

@media only screen and (max-width: 1600px){
    * {
        margin: 1rem 5%;
    }

    .select {
        transform: translateX(-50px);
    }
}